<p id="notice"><%= notice %></p>

<p>
Automatically deployed on Heroku via push to GitHub.
</p>

<table>
  <% cache @events do %>
    <% @events.each do |event| %>
      <% cache @event do %>
        <tr>
          <td><%= event.date %></td>
          <td><%= link_to event.title, event %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
