%h1 Reggae CDMX

- cache @calendar do
  - @calendar.each do |year, months|
    %h2=year
    - months.each do |month, weeks|
      %h3= Date::MONTHNAMES[month]
      - weeks.each do |week, days|
        %table.table.table-blank
          %tbody
          - days.each do |day, hash|
            - hash[:events].each_with_index do |event, index|
              %tr
                %td.date= l(event.date, format: :short) unless index > 0
                %td.title= link_to event.title, event
