@import 'themes/kickstart_reggae';
@import 'calendar.scss';

// Sticky Footer
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

a {
  color: map-get($colors, green)
}

.footer {
  flex-shrink: 0;
}

// Wrapper
.wrapper {
  @include wrapper();
}

// Footer
.container.container-footer {
  @include container();
  background-color: map-get($black, lightest);
  border-color: map-get($black, lightest);
  font-size: small;
  margin-bottom: 10px;
}

// Forms
form {
  @include form();

  input, textarea {
    color: map-get($black, lightest);
    background-color: map-get($white, darker);
  }

  textarea {
    width: 400px;
  }
}

.group {
  @include form_group();
}

// Tables
.table.table-blank {
  @include table($blank: true);

  thead th {
    border-color: transparent;
  }
}
