// Base Styles

* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
}

a {
  color: yellow;

  &:hover {
    color: orange;
    background-color: lightblue;
  }

  &:visited {
    color: lightgreen;
  }
}
