.container.container-footer
  %span
    Reggae CDMX – hecho por Jahshua y
    %a(title='FlowFX' href='https://flowfx.de/about/') FlowFX
    –
    %a(title='GitHub' href='https://github.com/FlowFX/reggae-on-rails/') GitHub
    –
    %a(title='Log into admin area' href='#') Login
